# Correlations segmentation

In [1]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('/')[:-1]
root_path = '/'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  /Users/joseortega/Documents/GitHub/exploratory-data-analysis-ds

### 0. Package and load data

In [2]:
from sklearn.datasets import fetch_california_housing
import json
import pandas as pd
import numpy as np

# plotly
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

#### load data example segmentation
In this example there are the possible segmentation of the data to select:
- segmentation by target. custom segmentation. Price_segments
- segmentation by feature house age. custom segmentation. HouseAge_segments
- segmentation by MedInc. quintile segmentation. quartile_MedInc

In [3]:
data = pd.read_pickle('data/data_segmentation.pkl')
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price,Price_segments,HouseAge_segments,quartile_MedInc
3130,4.8750,1.0,5.533333,1.000000,32.0,2.133333,35.08,-117.95,1.417,Low Price,Low Age,q4 - (4.74-15.0)
19536,4.2500,1.0,20.125000,2.928571,402.0,3.589286,37.65,-120.93,1.892,Low Price,Low Age,q3 - (3.53-4.74)
18972,5.2636,1.0,7.694030,1.279851,872.0,3.253731,38.23,-122.00,1.913,Low Price,Low Age,q4 - (4.74-15.0)
12286,1.6250,1.0,3.000000,1.000000,8.0,4.000000,33.86,-116.95,0.550,Low Price,Low Age,q1 - (0.5-2.56)
12077,6.2308,2.0,8.801008,1.373804,5964.0,3.004534,33.87,-117.64,2.579,Medium Price,Low Age,q4 - (4.74-15.0)