# Series de tiempo profiling

Hacer profiling de series de tiempo.
En este ejemplo se descarga data desde yahoo finanzas para hacer el ejemplo

In [1]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('/')[:-1]
root_path = '/'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  /Users/joseortega/Documents/GitHub/exploratory-data-analysis-ds

In [2]:
#! pip install yfinance

#!pip install yfinance --upgrade
#!pip install pandas --upgrade

In [3]:
import pandas as pd
import yfinance as yf
from ydata_profiling import ProfileReport

### 1. Descargar data desde yahoo finanzas

In [4]:
# Especifica el símbolo bursátil de la empresa
symbol = "AAPL"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, start="2022-01-01", end="2023-04-29")

# Crea un DataFrame de pandas con los datos descargados
data = pd.DataFrame(stock_data)

[*********************100%%**********************]  1 of 1 completed

In [5]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481125,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203201,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489655,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610199,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100

In [6]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-24,165.000000,165.600006,163.889999,165.330002,164.229446,41949600
2023-04-25,165.190002,166.309998,163.729996,163.770004,162.679840,48714100
2023-04-26,163.059998,165.279999,162.800003,163.759995,162.669907,45498800
2023-04-27,165.190002,168.559998,165.190002,168.410004,167.288956,64902300
2023-04-28,168.490005,169.850006,167.880005,169.679993,168.550476,55209200

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 332 entries, 2022-01-03 to 2023-04-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       332 non-null    float64
 1   High       332 non-null    float64
 2   Low        332 non-null    float64
 3   Close      332 non-null    float64
 4   Adj Close  332 non-null    float64
 5   Volume     332 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 18.2 KB

In [8]:
data.index

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14',
               ...
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', name='Date', length=332, freq=None)

### 2. Generar info clásico pandas profile

In [9]:
profile = ProfileReport(data, title = "Apple Report")
profile.to_file("output_eda/1_ydata_profiling/report3.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### 3. Generar info time series pandas profiling
Ydata-profiling (pandas profiling) permite hacer análisis de series de tiempo.
En este notebook de ejemplo ocurren errores que no se han solucionado y no permite realizar el reporte de la serie de tiempo.
En la documentación se observa cómo hacer el profiling de series de tiempo

Documentación:
- ejemplo: https://github.com/ydataai/ydata-profiling/blob/master/examples/usaairquality/usaairquality.ipynb
- documentación ydata-profiling: https://ydata-profiling.ydata.ai/docs/master/pages/use_cases/time_series_datasets.html

In [10]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481125,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203201,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489655,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610199,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100
...,...,...,...,...,...,...
2023-04-24,165.000000,165.600006,163.889999,165.330002,164.229446,41949600
2023-04-25,165.190002,166.309998,163.729996,163.770004,162.679840,48714100
2023-04-26,163.059998,165.279999,162.800003,163.759995,162.669907,45498800
2023-04-27,165.190002,168.559998,165.190002,168.410004,167.288956,64902300
2023-04-28,168.490005,169.850006,167.880005,169.679993,168.550476,55209200

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 332 entries, 2022-01-03 to 2023-04-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       332 non-null    float64
 1   High       332 non-null    float64
 2   Low        332 non-null    float64
 3   Close      332 non-null    float64
 4   Adj Close  332 non-null    float64
 5   Volume     332 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 18.2 KB

In [12]:
data[['Open']].head()

                  Open
Date
2022-01-03  177.830002
2022-01-04  182.630005
2022-01-05  179.610001
2022-01-06  172.699997
2022-01-07  172.889999

In [13]:
# eliminar feature "Volume" al no ser float
data = data[['Open','High','Low','Close','Adj Close']]

In [14]:
data

                  Open        High         Low       Close   Adj Close
Date
2022-01-03  177.830002  182.880005  177.710007  182.009995  179.481125
2022-01-04  182.630005  182.940002  179.119995  179.699997  177.203201
2022-01-05  179.610001  180.169998  174.639999  174.919998  172.489655
2022-01-06  172.699997  175.300003  171.639999  172.000000  169.610199
2022-01-07  172.889999  174.139999  171.029999  172.169998  169.777847
...                ...         ...         ...         ...         ...
2023-04-24  165.000000  165.600006  163.889999  165.330002  164.229446
2023-04-25  165.190002  166.309998  163.729996  163.770004  162.679840
2023-04-26  163.059998  165.279999  162.800003  163.759995  162.669907
2023-04-27  165.190002  168.559998  165.190002  168.410004  167.288956
2023-04-28  168.490005  169.850006  167.880005  169.679993  168.550476

[332 rows x 5 columns]

In [15]:
# reporte serie de tiempo
profile = ProfileReport(data, tsmode=True, sortby = 'Date', title="Time-Series EDA")

profile.to_file("output_eda/1_ydata_profiling/report3_timeseries.html")

KeyError: "None of ['Date'] are in the columns"