# Template EDA
Contents:
- Notebooks with codes with differents analysis. 
- IMPORTANT: The notebooks are numerated to indicate the orden in which were writted but it not represent the order that it can be used to analyse the data
- IMPORTANT 2: The notebooks try to be structed such as:
	- eda numbers: For example generate a dataframe with the correlations
	- eda graph - seaborn - matplotlib: generate a plot with seaborn-plotly using as input the eda numbers (when it is possible)
	- eda graph - plotly: generate a plot with plotly using as input the eda numbers (when it is possible)
	- synthesize: join the previous code in a function

In [1]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('/')[:-1]
root_path = '/'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  /Users/joseortega/Documents/GitHub/exploratory-data-analysis-ds

### 0. Package and load data

In [2]:
from sklearn.datasets import fetch_california_housing
import json

# plotly
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

In [3]:
data_X, data_y = fetch_california_housing(return_X_y=True, as_frame=True)

# joinn and rename dataset
df = data_X.copy()
df['Price'] = data_y
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

### 1. Codes to generate the EDA (numbers)

### 2. Codes to plot the EDA (graphs) - seaborn - matplotlib

### 3. Codes to plot the EDA (graphs) - plotly

### 4. Codes to synthesize the analysis
To do the code structed and satisfy the objetive, in each function it is neccesary to return the figure

In [4]:
def plot_graph():
    """
    Plot histogram of a individual feature

    Args

    Return
        fig (figure plotly): fig of plotly with the plot generated
    """


    title_x = 0.5, # centrar titulo
    title_font = dict(size = 28)
    
    
    return 0

In [6]:
# package neccesary to save plots
!pip install -U kaleido

Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-macosx_11_0_arm64.whl.metadata (15 kB)
Downloading kaleido-0.2.1-py2.py3-none-macosx_11_0_arm64.whl (85.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.8/85.8 MB 52.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1

In [7]:
# save
fig_report.write_html("output_eda/0_template/notebookN/eda_report.html")

NameError: name 'fig_report' is not defined